* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #e9e9e9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4 rem 7%;
  background-color: #001164;
  border-bottom: 1px #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 24px;
  font-weight: 700;
  display: flex; /* Menggunakan flexbox untuk menyusun elemen anak secara horizontal */
  align-items: center; /* Menyelaraskan elemen anak secara vertikal di tengah */
  color: white;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 8px 12px;
}

/* Styling untuk navbar link aktif */
.navbar .navbar-nav a.active,
.navbar .navbar-nav a:hover {
  color: rgb(225, 229, 0);
}

/* Menambahkan border bawah kuning untuk link aktif */
.navbar .navbar-nav a.active::after,
.navbar .navbar-nav a:hover::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid rgb(225, 229, 0); /* warna kuning */
  transform: scaleX(1);
  transition: 0.2s linear;
}

/* Menambahkan border bawah putih default untuk link non-aktif */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: white;
}

#hamburger-menu {
  display: none;
}

/* Responsive Styles */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    flex-direction: column;
    gap: 0;
    top: 100%;
    right: -100%;
    background-color: #001164;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* ---------------------------------- Bagian Main ------------------------------------- */
.main {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  background-color: #ffffff;
  padding: 5px;
  margin-left: 0px;
  margin-top: 40px;
  text-align: left;
  max-width: 700px;
  width: 100%;
}

.main-content h1 {
  text-align: left;
  color: #000000;
}

.main-content p {
  font-weight: 250;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.main-image {
  text-align: right;
}

.image-content img.resizable-image {
  max-width: 100%;
  width: 88%;
  height: auto;
}

.button-container {
  text-align: left;
}
#viewMoreBtn {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px; /* Ukuran font */
}

#viewMoreBtn:hover {
  background: linear-gradient(90deg, #0056b3, #007bff);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

/* -------------------------------------- bagian overview -------------------------------------------- */

.overview {
  background: linear-gradient(135deg, #1e5282, #74b9ff);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  min-height: 160px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

.wrapper-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding: 0px;
}

.wrapper-overview .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  color: rgb(0, 0, 0);
  width: 200px;
  flex: 1 1 21%;
  box-sizing: border-box;
  max-width: 300px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 28px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.wrapper-overview .card:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.wrapper-overview .card .title-overview {
  text-align: center;
  color: #333;
  margin: 0 0 5px;
}

.wrapper-overview .card .overview-value {
  text-align: center;
  color: #555;
  margin: 0;
}

.wrapper-overview .card ol {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

@media (min-width: 1366px) {
  .overview {
    padding: 20px 20px;
    justify-content: center;
    text-align: center;
  }

  .wrapper-overview .card {
    margin-left: 15px;
    margin-right: 15px;
  }

  .wrapper-overview {
    gap: 15px;
  }

  .card {
    padding: 15px;
  }
}

@media (max-width: 1366px) {
  .main-content {
    max-width: calc(100% - 20px);
  }

  .overview {
    justify-content: center;
    text-align: center;
  }

  .wrapper-overview {
    gap: 15px;
  }

  .card {
    padding: 15px 15px;
  }

  .overview-value {
    font-size: 1.3em;
  }
}

@media (max-width: 758px) {
  .main-content {
    max-width: calc(100% - 20px);
  }

  .wrapper-overview {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    padding: 10px;
  }

  .overview-value {
    font-size: 1.1em;
  }
}

@media (max-width: 450px) {
  .card {
    width: 90%;
    padding: 10px;
  }

  .overview-value {
    font-size: 1em;
  }
}

/* -------------------------------------- bagian statistic -------------------------------------------- */

.statistic {
  background-color: #f9f9f9;
  padding-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.statistic .statistic-title {
  padding-top: 60px;
  margin-left: 10px;
  padding-bottom: 70px;
}

.statistic .wrapper-statistic {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.statistic-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  flex: 1 1 21%;
  max-width: 150px;
  box-sizing: border-box;
}

.statistic-card:hover {
  background-color: #f0f0f0;
}

.statistic-card-link {
  display: inline-block;
  margin: 10px;
}

#myChart {
  padding-right: 10px;
}

/*------------------------------ BAGIAN FOOTER----------------------------------------- */

.footer {
  padding: 20px;
  height: 40px;

  background-color: black;
  color: white;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;
  }
}
